.DayItem.MuiPickersDay-root {
  width: 24px;
  height: 24px;
  margin: 2px 4px;
  font-size: 14px;
  font-size: 14px;
  font-family: var(--poppinsFont);
  background-color: inherit;
  color: var(--calendarCurrentMonth);
}

.DayItem.MuiPickersDay-dayOutsideMonth {
  color: var(--opacityWhite);
}

.DayItem.MuiPickersDay-root:focus,
.DayItem.MuiPickersDay-root:hover,
.DayItem.MuiPickersDay-root.Mui-selected,
.DayItem.MuiPickersDay-root:focus.Mui-selected,
.DayItem.MuiPickersDay-root:hover.Mui-selected,
.DayItem.MuiPickersDay-root.Mui-selected {
  background-color: var(--calendarBorder);
  color: var(--calendarCurrentDate);
}

.DayItem.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-disabled:not(
    .Mui-selected
  ) {
  font-size: 14px;
  color: var(--opacityWhite);
}

.DayItem.MuiPickersDay-root.Mui-disabled:not(.Mui-selected) {
  font-size: 14px;
  color: var(--opacityWhite);
}

.CalendarContainer.MuiDateCalendar-root {
  width: 260px;
  height: 290px;
  background-color: var(--calendarBackground);
  color: var(--calendarCurrentMonth);
  border-radius: 8px;
}

.CalendarContainer.MuiPickersCalendarHeader-root {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
