.DayItem.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 14px;
  font-family: var(--poppinsFont);
  background-color: inherit;
  color: var(--calendarCurrentMonth);
}

.DayItem.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root:focus,
.DayItem.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root:hover,
.DayItem.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.DayItem.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected,
.DayItem.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root:hover.Mui-selected,
.DayItem.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.DayItem.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected,
.DayItem.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:hover.Mui-selected {
  background-color: var(--calendarBorder);
  color: var(--calendarCurrentDate);
}

.DayItem.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-disabled:not(
    .Mui-selected
  ) {
  font-size: 14px;
  color: var(--opacityWhite);
}

.DayItem.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  font-size: 14px;
  color: var(--calendarCurrentMonth);
  /* border: 1px solid var(--calendarBorder); */
  border: 1px solid transparent;
}
